#intro-indi{
    width: 90%;
    margin: 0 auto;
}

#map-indi{
    margin: 0 auto;
}

.sketchfab-embed-wrapper-indi {
    margin: auto;
    width: 90%;
    padding: 10px;
}

#sketchfab-indi{
    width: 100%;
    margin: auto;
}